.tabs {
  grid-column: span 2;

  margin-top: 60px;
  margin-bottom: 100px;
}

.tabs__list {
  display: grid;
  grid-auto-flow: column;

  padding: 0;
  margin: 0;

  list-style: none;
}

.tabs__label {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;

  font-size: 18px;
  color: #1F1E25;

  background-repeat: no-repeat;
  background-position: left 50px center;

  border-radius: 4px 4px 0px 0px;

  cursor: pointer;
}

.tabs__label--deposits {
  background-image: url("../../img/icon-deposits.svg");
}

.tabs__label--credits {
  background-image: url("../../img/icon-credits.svg");
}

.tabs__label--insurance {
  background-image: url("../../img/icon-insurance.svg");
}

.tabs__label--online-services {
  background-image: url("../../img/icon-online-services.svg");
}

.tabs__input:checked + .tabs__label {
  background-color: #F6F7FF;

  cursor: auto;
}

.tabs__input:focus + .tabs__label {
  outline: medium auto Highlight;
  outline: medium auto -webkit-focus-ring-color;
}

.tabs__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-right: 58%;
  padding-bottom: 60px;
  padding-left: 70px;

  background-color: #F6F7FF;
  background-repeat: no-repeat;
  background-position: right 60px center;
  background-size: 440px;

  border-radius: 4px;
}

.tabs__wrapper--deposits {
  background-image: url("../../img/background-deposits.jpg");

  border-top-left-radius: 0px;
}

@media screen and (min-resolution: 2dppx) {
  .tabs__wrapper--deposits {
    background-image: url("../../img/background-deposits@2x.jpg");
  }
}

.tabs__wrapper--credits {
  padding-right: 66%;

  background-image: url("../../img/background-credits.jpg");
}

@media screen and (min-resolution: 2dppx) {
  .tabs__wrapper--credits {
    background-image: url("../../img/background-credits@2x.jpg");
  }
}

.tabs__wrapper--insurance {
  background-image: url("../../img/background-insurance.jpg");
}

@media screen and (min-resolution: 2dppx) {
  .tabs__wrapper--insurance {
    background-image: url("../../img/background-insurance@2x.jpg");
  }
}

.tabs__wrapper--online-services {
  background-image: url("../../img/background-online-services.jpg");

  border-top-right-radius: 0px;
}

@media screen and (min-resolution: 2dppx) {
  .tabs__wrapper--online-services {
    background-image: url("../../img/background-online-services@2x.jpg");
  }
}

.tabs__heading {
  margin-top: 0;
  margin-bottom: 20px;

  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  color: #1F1E25;
}

.tabs__item-list {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;

  list-style-image: url("../../img/icon-item.svg");
}

.tabs__item-list li {
  padding-left: 10px;
  margin-bottom: 25px;
}

.tabs__item-list li:last-of-type {
  margin-bottom: 0;
}

.tabs__link {
  display: flex;
  width: max-content;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;

  font-weight: 500;
  font-size: 16px;
  color: #F6F7FF;
  text-decoration: none;

  background-color: #2C36F2;
  border-radius: 4px;
}

.tabs__link-text {
  font-weight: 500;
  color: #1F1E25;
  text-decoration-line: underline;
}
