body {
  margin: 0;

  font-family: 'Roboto', 'Arial', sans-serif;
}

* {
  box-sizing: border-box;
}

a, 
button {
  cursor: pointer;
}

a:hover,
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
  opacity: 0.8;
}

a:active,
button:active,
input[type="button"]:active,
input[type="submit"]:active {
  opacity: 0.5;
}

input[type="button"]:disabled,
input[type="submit"]:disabled,
button:disabled {
  opacity: 0.3;
}

img {
  width: 100%;
  height: auto;
}

.container {
  padding-left: 98px;
  padding-right: 98px;
  max-width: 1366px;
}

@media (max-width: $desktop-width) {
  .container {
    padding-left: 45px;
    padding-right: 45px;
  }
}

@media (max-width: $tablet-width) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.center {
  margin: 0 auto;
}

#root {
  display: grid;
  grid-template-rows: min-content;
  min-height: 100vh;
}
