body {
  margin: 0;
  min-width: 1366px;

  font-family: 'Roboto', 'Arial', sans-serif;
}

* {
  box-sizing: border-box;
}

a, 
button {
  cursor: pointer;
}

a:hover,
button:hover {
  opacity: 0.8;
}

a:active,
button:active {
  opacity: 0.5;
}

img {
  width: 100%;
  height: auto;
}

.container {
  padding-left: 98px;
  padding-right: 98px;
  max-width: 1366px;
}

.center {
  margin: 0 auto;
}

#root {
  display: grid;
  grid-template-rows: min-content;
  min-height: 100vh;
}
