$text-main-color: #1F1E25;
$text-secondary-color: #707C87;
$background-color: #F6F7FF;
$border-color: #C1C2CA;

$desktop-width: 1366px;
$tablet-width: 768px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
